body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
   
    background-image: url(GH.webp)
}


#enroll {
    border: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    align-content:center ;
    opacity: 95%;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}